@model IEnumerable<FinalProject.ViewModels.RoomTypeMenuVM>

<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <a asp-controller="Home" asp-action="Index" class="logo m-0 float-start">Property</a>

                <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
                    <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="has-children">
                        <a asp-controller="RoomPost" asp-action="Index" asp-route-id="">Properties</a>
                        <ul class="dropdown">
                            @foreach (var roomType in Model)
                            {
                                <li>
                                    <a asp-controller="RoomPost" asp-action="Index" asp-route-id="@roomType.RoomTypeId">@roomType.TypeName (@roomType.Quantity)</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li>
                        @await Component.InvokeAsync("Favorite")
                    </li>
                    <li class="has-children">
                        <a href="#" style="margin-left: -18px;">
                            <i class="fas fa-user fa-2x"></i>
                            @if (Context.User.Identity != null && !string.IsNullOrEmpty(Context.User.Identity.Name))
                            {
                                <span style="margin-left: 16px;">Welcome @Context.User.Identity.Name</span>
                            }
                        </a>
                        <ul class="dropdown">
                            @if (Context.User.Identity != null && Context.User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a asp-action="Profile" asp-controller="Customer">Profile</a>
                                </li>

                                if (User.IsInRole("Chủ trọ"))
                                {
                                    <li>
                                        <a asp-action="UploadRoomPost" asp-controller="RoomPost">Upload Room Post</a>
                                    </li>
                                    <li>
                                        <a asp-action="ManageRoom" asp-controller="RoomPost">Manage My Rooms</a>
                                    </li>
                                }

                                <li>
                                    <a asp-action="Logout" asp-controller="Customer">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-action="SignIn" asp-controller="Customer">Sign In</a>
                                </li>
                                <li>
                                    <a asp-action="Register" asp-controller="Customer">Sign Up</a>
                                </li>
                            }

                        </ul>
                    </li>

                </ul>

                <a href="#"
                   class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                   data-toggle="collapse"
                   data-target="#main-navbar">
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</nav>