@model FinalProject.ViewModels.UpdatePasswordVM

@{
    var successMessage = TempData["SuccessMessage"] as string;
    var failMessage = TempData["FailMessage"] as string;
}

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12 mt-4 mb-4">
    <div class="iq-edit-list-data">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Đổi mật khẩu</h4>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @successMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(failMessage))
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @failMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="card-body">
                        <form asp-controller="AdminHome" asp-action="AdminChangePasswordPost" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="currentPassword" class="form-label">Mật khẩu hiện tại:</label>
                                <a asp-action="ForgotPassword" asp-controller="Customer" class="float-end">Quên mật khẩu</a>
                                <input asp-for="currentPassword" type="Password" class="form-control" id="currentPassword" />
                                <span asp-validation-for="currentPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="newPassword" class="form-label">Mật khẩu mới:</label>
                                <input asp-for="newPassword" type="Password" class="form-control" id="newPassword" />
                                <span asp-validation-for="newPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="confirmPassword" class="form-label">Xác nhận lại mật khẩu:</label>
                                <input asp-for="confirmPassword" type="Password" class="form-control" id="confirmPassword" />
                                <span asp-validation-for="confirmPassword" class="text-danger"></span>
                            </div>
                            <div class="button-container" style="display: flex; justify-content: flex-end; align-items: center; margin-top: 20px;">
                                <div style="display: flex;">
                                    <button style="margin-right: 10px;" type="submit" class="btn btn-primary">Xác nhận</button>
                                    <button type="button" class="btn bg-soft-danger" onclick="window.location.href='@Url.Action("AdminProfile", "AdminHome")'">Hủy bỏ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

