appsettings.Development.json

bin/
obj/

appsettings.json
secrets.json


.vs/
.idea/
.vscode/


coverage/
test-results/


node_modules/

logs/
Scripts/

FinalProject/Scripts/yolov8_env/Lib/site-packages/torch/lib/torch_cpu.dll
FinalProject/Scripts/yolov8_env/Lib/site-packages/torch/lib/dnnl.lib
FinalProject/Scripts/yolov8_env/Lib/site-packages/cv2/cv2.pyd