@{
    ViewData["Title"] = "Favorite List";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@section BreadCum {
    <div class="hero page-inner overlay"
         style="background-image: url('@Url.Content("~/images/hero_bg_2.jpg")')">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-center mt-5">
                    <h1 class="heading" data-aos="fade-up">User Profie
                    </h1>
                </div>
            </div>
        </div>
    </div>
}

<h2>Welcome @Context.User.Identity.Name</h2>