@model FinalProject.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login";
}

@{

    ViewData["Title"] = "Login";

    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/assets/css/libs.min.css">
    <link rel="stylesheet" href="~/assets/css/socialv.css?v=4.0.0">
    <link rel="stylesheet" href="~/assets/vendor/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/assets/vendor/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="~/assets/vendor/vanillajs-datepicker/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">

    <style>
        .sign-in-page {
            height: 100vh;
            background: #005555;
            background: #005555;
            background: -webkit-linear-gradient(-45deg,#005555 0,#005555 100%);
            background: -webkit-linear-gradient(315deg,#005555 0,#005555 100%);
            background: -o-linear-gradient(315deg,#005555 0,#005555 100%);
            background: linear-gradient(135deg,#005555 0,#005555 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba($primary, 80)', endColorstr='#005555', GradientType=1);
            position: relative;
            overflow: hidden;
            height: 100vh;
            width: 100%;
            margin: 0 auto;
            padding: 0 auto
        }
    </style>
</head>

<body class=" ">
    <div class="wrapper">
        <section class="sign-in-page">
            <div id="container-inside">
                <div id="circle-small"></div>
                <div id="circle-medium"></div>
                <div id="circle-large"></div>
                <div id="circle-xlarge"></div>
                <div id="circle-xxlarge"></div>
            </div>
            <div class="container p-0">
                <div class="row no-gutters">
                    <div class="col-md-6 text-center pt-5">
                        <div class="sign-in-detail text-white">
                            <div class="sign-slider overflow-hidden ">
                                <p style="height: 160px"></p>
                                <ul class="swiper-wrapper list-inline m-0 p-0 ">
                                    <li class="swiper-slide">
                                        <h4 class="mb-1 text-white">Find Your Perfect Room</h4>
                                        <p>Browse through thousands of listings to find the ideal room that fits your needs and budget.</p>
                                    </li>
                                    <li class="swiper-slide">
                                        <h4 class="mb-1 text-white">Connect with Landlords</h4>
                                        <p>Get in touch with property owners directly to inquire about availability and amenities.</p>
                                    </li>
                                    <li class="swiper-slide">
                                        <h4 class="mb-1 text-white">Easy Room Booking</h4>
                                        <p>Book room viewings or confirm rentals with just a few clicks, all from the comfort of your home.</p>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 bg-white pt-5 pt-5 pb-lg-0 pb-5">
                        <div class="sign-in-from">
                            <h1 class="mb-0">Sign Up</h1>
                            <p>Enter your email address and password to access admin panel.</p>
                            <form class="mt-4" asp-action="SignIn" method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
                                <div class="form-group">
                                    <label asp-for="username" class="form-label" for="exampleInputEmail1">Username:</label>
                                    <input asp-for="username" type="text" class="form-control mb-0" id="exampleInputEmail1" placeholder="Username">
                                    <span asp-validation-for="username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="password" class="form-label" for="exampleInputPassword1">Password:</label>
                                    <a style="color:#005555 !important" href="@Url.Action("ForgotPassword", "Customer")" class="float-end">Forgot password?</a>
                                    <input asp-for="password" type="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password">
                                    <span asp-validation-for="password" class="text-danger"></span>
                                </div>
                                @if (!ViewData.ModelState.IsValid)
                                {
                                    <div class="alert alert-danger">
                                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                        {
                                            <p>@error.ErrorMessage</p>
                                        }
                                    </div>
                                }
                                <div class="d-inline-block w-100">
                                    <div class="form-check d-inline-block mt-2 pt-1">
                                        <input type="checkbox" class="form-check-input" id="customCheck11">
                                        <label class="form-check-label" for="customCheck11">Remember Me</label>
                                    </div>
                                    <button style="background-color: #005555 !important; border-color: #005555" type="submit" class="btn btn-primary float-end">Sign in</button>
                                </div>
                                <div class="sign-info">
                                    <span class="dark-color d-inline-block line-height-2">Don't have an account? <a style="color:#005555 !important" href="@Url.Action("Register", "Customer")">Sign up</a></span>
                                    <ul class="iq-social-media">
                                        <li><a style="color:#005555 !important" href="#"><i class="ri-facebook-box-line"></i></a></li>
                                        <li><a style="color:#005555 !important" href="#"><i class="ri-twitter-line"></i></a></li>
                                        <li><a style="color:#005555 !important" href="#"><i class="ri-instagram-line"></i></a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Backend Bundle JavaScript -->
    <script src="../assets/js/libs.min.js"></script>
    <!-- slider JavaScript -->
    <script src="../assets/js/slider.js"></script>
    <!-- masonry JavaScript -->
    <script src="../assets/js/masonry.pkgd.min.js"></script>
    <!-- SweetAlert JavaScript -->
    <script src="../assets/js/enchanter.js"></script>
    <!-- SweetAlert JavaScript -->
    <script src="../assets/js/sweetalert.js"></script>
    <!-- app JavaScript -->
    <script src="../assets/js/charts/weather-chart.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
    <script src="../assets/js/lottie.js"></script>
</body>
</html>