@model IEnumerable<FinalProject.ViewModels.FavoriteListVM>
@{
    ViewData["Title"] = "Favorite List";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@section BreadCum {
    <div class="hero page-inner overlay"
         style="background-image: url('@Url.Content("~/images/hero_bg_2.jpg")')">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-center mt-5">
                    <h1 class="heading" data-aos="fade-up">Phản Hồi Vi Phạm</h1>
                </div>
            </div>
        </div>
    </div>
}

<div class="container-fluid py-5">
    <div class="container py-5">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["FailMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["FailMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="border p-4 rounded">
            <h2 class="text-center mb-4">Phản Hồi Vi Phạm</h2>
            <form action="#">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="Address" class="form-label">Tại địa chỉ:</label>
                        <input type="text"
                               class="form-control"
                               readonly />
                    </div>
                    <div class="col-12 mb-3">
                        <label for="ViolationContent" class="form-label">Nội dung vi phạm:</label>
                        <input type="email"
                               class="form-control"
                               readonly />
                    </div>
                    <div class="col-12 mb-3">
                        <label for="Address" class="form-label">Nội dung phản hồi:</label>
                        <textarea name=""
                                  id=""
                                  cols="30"
                                  rows="7"
                                  class="form-control"
                                  placeholder="Nhập vào nội dung phản hồi"
                                  required></textarea>
                    </div>

                    <div class="col-12 text-center">
                        <input type="submit"
                               value="Gửi phản hồi"
                               class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
